{
  "rules": [
    {
      "icon": "1.circle.fill",
      "text": "Выберите до 3 фруктов в разделе 'Заказ'"
    },
    {
      "icon": "qrcode",
      "text": "Нажмите 'Смешать' и приложите ваш QR-код к валидатору"
    },
    {
      "icon": "heart.fill",
      "text": "После получения заказа покажи qr на главном экране чтобы накопить бонусы"
    }
  ],
  "bonuses": [
    {
      "icon": "circle.fill",
      "text": "Бонусы можно начислять за каждый заказ"
    },
    {
      "icon": "person.2.fill",
      "text": "Скоро - 10% бонус за приглашенного друга"
    },
    {
      "icon": "calendar",
      "text": "Скоро - Специальные сезонные предложения"
    }
  ],
  "contacts": [
    {
      "type": "Email",
      "value": "juicyjack@bar.com",
      "icon": "envelope.fill"
    }

  ]
}
